body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

ul, li {
    list-style-type: none;
    padding: 3px 3px 3px 3px;
    background: white;
    text-align: center;
} 

ul {
    margin: 0;
    padding: 0;
    width: 50%;
}

ul, li:hover {
    background: #76D7C4;
}

#lisaaNappi, #naytaNappi, #tyhjennysNappi {
    padding: 3px 3px;
    background: #D0ECE7;
    border-radius: 5px;
}

#lisaaNappi:hover, #naytaNappi:hover, #tyhjennysNappi:hover {
    background: #73C6B6;
}

#toDoLomake {
    text-align: center;
}

#lomakeAlue {
    border-radius: 25px;
    border: 2px solid #73C6B6;
}

#toDoLista {
    position: absolute;
    left: 25%;
}

.cbox {
    float: left;
}

input[type='checkbox']:checked+label {
    text-decoration: line-through;
    color: grey;
}

.poistoNappi {
    background: #D0ECE7;
    float: right;
    border-radius: 5px;
}

.poistoNappi:hover {
    background: #73C6B6;
}
